
name: Upload to PyPI

on:
  workflow_call:
    secrets:
      PYPI_PASSWORD:
        required: true

jobs:
  upload_to_pypi:
    name: Upload all wheels to PyPI
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install jq
        run: brew install jq

      - name: Download all files for latest version from TestPyPI
        run: |
          PACKAGE="PyMca5"
          META=$(curl -s https://test.pypi.org/pypi/$PACKAGE/json)
          VERSION=$(echo "$META" | jq -r '.info.version')
          echo "Latest version is $VERSION"
      
          mkdir -p dist
          echo "$META" | jq -r ".releases[\"$VERSION\"][] | .url" | while read url; do
            echo "Downloading $url"
            curl -sL -o "dist/$(basename "$url")" "$url"
          done

      - name: List all downloaded files
        run: ls -R dist

      - name: Upgrade
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade twine

      - name: Upload to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python -m twine upload --verbose dist/*